# Multiplex connections through one socket, 10min persist
ControlMaster auto
ControlPath ~/.ssh/sockets/%r@%h:%p
ControlPersist 10m

Host *
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_ed25519
    ServerAliveInterval 30
    ServerAliveCountMax 6

Host homelab
    Hostname homelab-bastion
    User bezi

Host nuc
    Hostname homelab-onprem-nuc
    User bezi
